{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div id="root">
        <label for="query">Enter query:</label><br>
        <textarea style="width:800px; height:200px; vertical-align: top;" id="query" name="query"></textarea><br>
        <input type="submit" id='submit' value="DialoGPT" onclick="submit()"><br>
        <input type="submit" id='gemini' value="Gemini" onclick="askgemini()"><br>
        <h3>Response:</h3>
        <p id="response"></p>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>